CONTAINER_APP_PORT=3333
EXTERNAL_APP_PORT=3000
HOST=0.0.0.0
PORT=$CONTAINER_APP_PORT

NODE_ENV=development

APP_KEY=2PseGCovkI1t-jqPfESuawpGUTvAbUm7

DRIVE_DISK=local

SESSION_DRIVER=cookie

CACHE_VIEWS=false

PGA_LOGIN=admin@test.com
PGA_PASS=secret

CONTAINER_PGA_PORT=8000
EXTERNAL_PGA_PORT=8000
CONTAINER_DB_PORT=5432
EXTERNAL_DB_PORT=1486

DB_CONNECTION=pg
DB_HOST=localhost
DB_PORT=1486
DB_USER=lucid
DB_PASSWORD=secret
DB_DATABASE=boilerplate-db
